.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .center-box {
    width: 750px;
    height: 400px;
    background-color: #fff;
    padding: 70px 50px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
  }
  